* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
    height: 100%;
}

body {
    height: 100%;
    white-space: normal;
    word-wrap: break-word;
    padding: 0em 0em 0em 23rem;
    background-color: #dee2e6;
}

#navigation {
    top: 0;
    left: 0;
    width: 23rem;
    height: 100%;
    display: block;
    position: fixed;
    background-size: cover;
    border-right: 1px #eee solid;
    background-color: whitesmoke;
    box-shadow: 16px 0px 42px -8px rgba(0, 0, 0, 0.2);
}

.navItem {
    margin: 2rem 2rem 0em 2rem;
}

#portrait {
    width: 18rem;
    height: 12rem;
    box-shadow: 0px 16px 24px -8px rgba(0, 0, 0, 0.2);
}

#name {
    font-size: 1.8rem;
    font-weight: bold;
}

#introduction {
    margin-top: 1rem;
    font-weight: 200;
    overflow-y: auto;
    max-height: 18rem;
}

.navigations {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    flex-direction: column;
}

.anchor {
    font-weight: 700;
    color: #28C76F;
    font-size: 1.5rem;
    width: fit-content;
    transition: all 0.2s;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
}

.anchor:hover {
    font-size: 1.8rem;
    background-color: #ffffff;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.2);
}

#contact {
    bottom: 0;
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.contactMe {
    margin: 0 0.5em 0 0;
    text-decoration: none;
}

.contactIcon {
    fill: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    transition: all 0.2s;
}

.icon1:hover {
    fill: #12B7F5;
    transform: scale(1.2, 1.2);
}

.icon2:hover {
    fill: #2782d7;
    transform: scale(1.2, 1.2);
}

#main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mainItemContainer {
    padding: 1.5rem;
    min-width: 40rem;
    border-radius: 0.5rem;
    margin: 2rem 3rem 3rem 3rem;
    background-color: whitesmoke;
    box-shadow: 0 8px 42px -8px rgba(0, 0, 0, 0.2);
}

.newsContainer {
    overflow-y: auto;
    max-height: 20rem;
}

.megaTitle {
    font-size: 2rem;
    text-align: left;
    font-weight: bolder;
    margin: 0 0 0.5rem 0;
}

.subItemContainer {
    border-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
}

.ribbionStrip {
    margin: 0 0 0.5rem 0;
}

.ribbionItem {
    font-weight: 400;
    font-size: 0.9rem;
    user-select: none;
    line-height: 1.5rem;
    border-style: solid;
    border-radius: 0.3rem;
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    border-width: 1px 1px 1px 5px;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.info {
    /* border-color: #F6416C; */
    border-color: #28C76F;
    /* border-color: #0396FF; */
}

.date {
    border-color: #0396FF;
}

.subItem {
    display: flex;
    flex-direction: row;
}

.introContainer {
    flex-grow: 1;
    display: flex;
    flex-basis: auto;
    margin: 0 1rem 0 0;
    flex-direction: column;
}

.paperTitle {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    height: fit-content;
    margin: 0.5rem 0 0 0;
}

/* .introContainer div:last-child {
    width: 100%;
    flex-grow: 1;
    font-weight: 200;
    flex-basis: auto;
    flex-direction: column;
} */

.buttonContainer {
    margin: 1em;
    text-align: center;
}

.repoButton {
    width: 8rem;
    margin: 0 auto;
    line-height: 2rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.2rem 0 0.2rem 0;
    background-color: #1f6bcd;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.repoButton:hover {
    transform: scale(1.2, 1.2);
    background-color: #2f7bfd;
}

.buttonIcon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    margin: 0 0.3rem 0.3rem 0;
}

.disabledButton {
    pointer-events:none;
    background-color: #666565;
}